@font-face {
	font-family: 'PressStart2P';
	src: url("PressStart2P.ttf");
}
* {
	background-color: #171817;
}

h1 {
	font-family: 'PressStart2P';
	color: white;
}

#canvas {
	border: 4px solid lime;
	border-radius: 2px;
	margin-left: 20%;
	position: absolute;
	display: block;
	z-index: 1;
}
.play-button {
	border-bottom: 5px solid gray;
	border-right: 5px solid gray;
	width: 200px;
	height: 100px;
	margin-left: 45%;
	margin-top: 15%;
	position: absolute;
	display: block;
	z-index: 2;

}
.paddle {
	width: 200px;
	height: 50px;
	z-index: 3;
}