@font-face {
	font-family: 'PressStart2P';
	src: url("PressStart2P.ttf");
}
* {
	font-family: "PressStart2P";
}
table {
	margin: auto;
}
td {
	border: 3px solid black;
	padding: 0;
	margin: 0;
	width: 75px;
	height: 75px;
}
.piece-black {
	margin: auto;
	border-radius: 50px;
	width: 70px;
	height: 70px;
	background-color: black;
}

.piece-red {
	margin: auto;
	border-radius: 50px;
	width: 70px;
	height: 70px;
	background-color: red;
}
.brown {
	background-color: brown;
}