@font-face {
	font-family: 'PressStart2P';
	src: url("PressStart2P.ttf");
}
* {
	font-family: "PressStart2P";
}
#table {
	z-index: 2;
	position: absolute;
	margin-top: 5%;
    margin-left: 25%;
}
#table td {
	padding: 0;
	margin: 0;
	width: 75px;
	height: 75px;
}
.piece-blue {
	margin: auto;
	border-radius: 50px;
	width: 70px;
	height: 70px;
	background-color: #50EEAF;
}

.piece-orange {
	margin: auto;
	border-radius: 50px;
	width: 70px;
	height: 70px;
	background-color: #FFC300;
}
.gray {
	background-color: gray;
}

canvas {
    width: 620px;
    height: 620px;
    z-index: 1;
    position: absolute;
    margin-top: 5%;
    margin-left: 25%;
}
.selected {
	border: 2px solid black;
}
.highlighted {
	background-color: yellow;
	width: 70px;
	height: 70px;
}
#nav {
	font-family: 'PressStart2P';
	background-color: rgba(15, 13, 11, 0.58);
	padding: 15px;
	z-index: 2;
}
a {
	text-decoration: none;
	color: lime;
	z-index: 2;
}
a:hover {
	color: white;
	z-index: 2;
}
